html, main, .mainContent{
    height: 100%;
}

body {
    height: 90%;
    display: grid;
    grid-template-rows: min-content 1fr min-content; 
}

.mainContent > div{
    border-width: 3px;
    border-style: double;
    border-color: black;
}

.zInput {
    box-sizing: border-box;
    width: 100%;
}

button {
    width: 100%;
}

.operatorButtonCellZ1, .operatorButtonCellZ2, .operator2ButtonCell {
    position: relative;
    width: 25%;
    padding-bottom: 2em;
}

#resultCell {
    padding-bottom: 2em;
    text-align: center;
    font-weight: bold;
    visibility: hidden;
}

canvas {
    vertical-align: top;
}

footer {
    padding-top: 1em;
    font-size: smaller;
}

@media screen and (orientation:landscape) {
    main > .mainContent {
        display: grid;
        grid-template-columns: max-content 1fr;
    }
}

@media screen and (orientation:portrait) {
    main > .mainContent {
        display: grid;
    }
}
