html, body {
    height: 90%;
}

main, #mainTable {
    height: 100%;
}

#UserInterface {
    vertical-align: top;
}

.zInput {
    box-sizing: border-box;
    width: 100%;
}

button {
    width: 100%;
}

.operatorButtonCellZ1, .operatorButtonCellZ2 {
    position: relative;
    width: 25%;
    padding-bottom: 2em;
}

#resultCell {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    font-weight: bold;
    visibility: hidden;
}

footer {
    padding-top: 1em;
    font-size: smaller;
}
